<!DOCTYPE html>
<html ng-app="Framework">
<head>
	<title>Framework1 Forum</title>
	<link rel="stylesheet" type="text/css" href="stylesheet/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheet/style-forum.css">
	<link rel="stylesheet" type="text/css" href="stylesheet/animate.css">
	<script type="text/javascript" src="angularjs/angular.min.js"></script>
	<script type="text/javascript" src="angularjs/modules/angular-translate.js"></script>
	<script type="text/javascript" src="angularjs/angular-cookies.js"></script>
	<script type="text/javascript" src="angularjs/angular-translate-storage-cookie.js"></script>
	<script type="text/javascript" src="angularjs/modules/app.js"></script>
	<script type="text/javascript" src="angularjs/modules/services/translate.js"></script>
	<script type="text/javascript" src="angularjs/modules/controllers/controller.js"></script>
</head>
<body ng-controller="userCtrl">
	<header id="header">
		<div class="bg-top-header">
			<div class="container">
				<div class="row">
					<div class="header-title col-md-2">
						<a href="/home"><h1>Framework1</h1></a>
					</div>
					<div class="col-md-10">
						<form id="searchbox" action="">
							<input type="text" placeholder="{{'FORUM_SRCH' | translate}}..." style="width: 400px; height: 40px;" />
							<button type="submit" value="">
								<img src="images/search-icon.svg">
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="bg-bottom-header">
	</div>
	<div class="container body-content">
		<div class="row">
			<div class="col-md-8">
			<form method="POST">
				<div class="text-search">
					<div class="input-container">
						<input onclick="show()" class="input-title" maxlength="90" name="post-title" type="text" placeholder="{{'FORUM_CNT' | translate}}" ng-model="data.title">
						<select class="select-items" name="category" ng-model="data.category">
							<option value=""><----Please Select----></option>
							<% if(categoryData){ categoryData.forEach(function(categoryData){ %>
								<option value="<%= categoryData.name %>"><%= categoryData.name %></option>
							<% }); } %>
						</select>
					</div>
					<div id="input-text">
						<textarea name="text-content" cols="104" rows="10" ng-model="data.content"></textarea>
					</div>
				</div>
				<div class="row" id="topic-submit">
					<div class="col-md-6">
						<a href="">{{'FORUM_SHOW' | translate}}</a>
					</div>
					<div class="col-md-6 topic-submit-button">
						<button class="topic-creat" type="submit" ng-click="createTopic()"> {{'FORUM_CT' | translate}} </button>
						<span onclick="hide()" style="cursor:pointer"><img src="images/cross-icon.svg">&nbsp;&nbsp;{{'INDEX_CANCEL' | translate}}</span>
					</div>
				</div>
			</form>
			<ul>
				<% if (topicData) { topicData.forEach(function(topicData){ %>
				<li class="highlights thread-item ">
					<a href="/forum/thread/<%= topicData._id %>"><h3><%= topicData.topicTitle %></h3></a>
					<span>
						Written by: <%= topicData.topicAuthor %>
						&nbsp;&nbsp;&nbsp;&nbsp;
						Category: <%= topicData.topicCategory %> 
						&nbsp;&nbsp;&nbsp;&nbsp;
						Date: <%= topicData.topicDate %>
						</span>
				</li>
				<% }); } %>
			</ul>
			</div>
			<div class="col-md-3">
				<div class="forum-statistic">
					<h5>{{'FORUM_STAT' | translate}}</h5>
					<hr />
					<h3>&nbsp;&nbsp;&nbsp;&nbsp;15 {{'FORUM_NB.MEM' | translate}}</h4>
					<hr />
					<h3>&nbsp;&nbsp;&nbsp;&nbsp;111 {{'FORUM_NB.THR' | translate}}</h4>
					<hr />
					<h3>&nbsp;&nbsp;&nbsp;&nbsp;0 {{'FORUM_NB.REP' | translate}}</h3>
				</div>
				<div class="forum-category">
					<h5>{{'FORUM_CTG' | translate}}</h5>
					<% if (user.user_permissions.admin == true) { %>
					<form class="addCategory" method="POST">
						<input class="addCtg" type="text" placeholder=" Add Category..." ng-model="ctg.newCtg">
						<input type="submit" ng-click="addCtg()" value="Add">
					</form>
					<% } %>
					<ul>
						<% if(categoryData){ var i = 0; categoryData.forEach(function(categoryData){ %>
								<li class="ctg-list">
									<a id="ctg-<%= i++ %>" href=""><%= categoryData.name %></a>
									<form id="<%= i %>" method="POST" style="display: none;">
										<input type="text" ng-model="edit.ctg">
										<input type="submit" value="submit" ng-click="ctg_edit('<%= categoryData.name %>')" style="display: none;">
									</form>
									<span class="category-tag">
										<% if (user.user_permissions.admin == true) { %>
											<button type="submit" ng-click="removeCtg('<%= categoryData.name %>')"> <img src="images/cross1-icon.svg"></button>
											<img onclick="editCtg(<%= i%>)" src="images/edit1-icon.svg">
										<% } %>
										<img src="images/tag-icon.svg">
									</span>
								</li>
						<% }); }%>
					</ul>
					<hr />
				</div>
				<div class="forum-hot-topic">
					<h5>{{'FORUM_TOP' | translate}}</h5>
					<hr />
				</div>
				<div class="forum-user">
					<h5>{{'FORUM_HU' | translate}}</h5>
				</div>
			</div>
		</div>
	</div>
	<script>
		function editCtg(data) {
			if (document.getElementById(data).style.display == 'none')
			{
				document.getElementById(data).style.display = 'block'
			}
			else
				document.getElementById(data).style.display = 'none';
		}
		function show() {
			document.getElementById('input-text').style.display = 'block';
			document.getElementById('topic-submit').style.display = 'block';
		}
		function hide() {
			document.getElementById('input-text').style.display = 'none';
			document.getElementById('topic-submit').style.display = 'none';
		}
	</script>
	<div class="footer">
		<hr />
	</div>
</body>
</html>