<!DOCTYPE html>
<html ng-app="Framework">
<head>
	<title>Framework1 Thread</title>
	<meta charset="UTF-8">
	<meta http-equiv="content-language" content="en">
	<meta http-equiv="content-language" content="fr">
	<meta name="Framework 1" content="Free Web tutorials">
	<meta name="42 project framework web" content="HTML,CSS,XML,JavaScript,Node,Angular">
	<meta name="JayHo" content="Hege Refsnes">
	<link rel="stylesheet" type="text/css" href="stylesheet/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="stylesheet/style-ticket.css" />
	<link rel="stylesheet" type="text/css" href="stylesheet/animate.css">
	<link rel="stylesheet" type="text/css" href="stylesheet/hover.css">
	<script type="text/javascript" src="angularjs/angular.min.js"></script>
	<script type="text/javascript" src="angularjs/modules/angular-translate.js"></script>
	<script type="text/javascript" src="angularjs/angular-cookies.js"></script>
	<script type="text/javascript" src="angularjs/angular-translate-storage-cookie.js"></script>
	<script type="text/javascript" src="angularjs/modules/app.js"></script>
	<script type="text/javascript" src="angularjs/modules/services/translate.js"></script>
	<script type="text/javascript" src="angularjs/modules/controllers/controller.js"></script>
</head>
<body ng-controller="userCtrl">
	<header>
		<nav class="ticket-navbar">
			<ul>
				<a href="/logout"><li>{{'TICKET_LOGOUT' | translate}}</li></a>
				<a href="/home"><li>{{'TICKET_HOME' | translate}}</li></a>
			</ul>
		</nav>
	</header>
	<section>
		<div id="ticket-body">
			<div class="container">
				<div class="ticket-row row">
					<aside class="ticket-aside col-md-2">
						<ul>
							<a href="/forum"><li>Forum</li></a>
							<a href=""><li>Edit</li></a>
							<a href=""><li>Blabla</li></a>
							<a href=""><li>Caca</li></a>
						</ul>
					</aside>
					<div class="ticket-main col-md-8 col-md-offset-1">
						<h3><%= topic.topicTitle %></h3>
						<div class="message-primary">
							<p><%= topic.topicCategory%></p>
						</div>
						<hr />
					<% if (topic) { var i = 0; topicReply.forEach(function(topicReply){%>
						<div class="reply-profile">
							<div class="reply-title">
								<img onclick="display_reply('<%= topicReply._id %>')" src="images/reply-icon.svg" style="cursor: pointer;">
								<h4><%= topicReply.topicRep_user%></h4>
							</div>
							<span><%= topicReply.topicRep_date%></span>
						</div>
						<div class="message-content">
							<p><%= topicReply.topicRep_message%></p>
							<form id="<%= topicReply._id %>" method="POST" style="display: none;">
								<input type="text" ng-model="message.rep[<%= ++i %>]" style="width: 300px;">
								<input type="submit" ng-click="addRepSub('<%= topicReply._id %>', <%= i %>)" value="ok" style="display: none;">
							</form>
						</div>
						<hr />
					<% }); }%>
					<div>
						{{topicReply.content}}
					</div>
					<% if (topic.topicStatus == 'open') { %>
						<div class="message-answer">
							<form method="POST">
								<input type="text" placeholder="Type your answer..." ng-model="topicReply.contentText">
								<button type="submit" ng-click="addTr()">Send</button>
							</form>
						</div>
					<% } %>
					</div>
				</div>
			</div>				
		</div>
	</section>
	<script type="text/javascript">
		function display_reply(data) {
			if (document.getElementById(data).style.display == "none")
			{
				document.getElementById(data).style.display = "block";
				console.log("OK");
			}
			else
				document.getElementById(data).style.display = "none";
		};
	</script>
</body>
</html>