<!DOCTYPE html>
<html ng-app="Framework">
<head>
	<title>Framework1 Ticket</title>
	<meta charset="UTF-8">
	<meta http-equiv="content-language" content="en">
	<meta http-equiv="content-language" content="fr">
	<meta name="Framework 1" content="Free Web tutorials">
	<meta name="42 project framework web" content="HTML,CSS,XML,JavaScript,Node,Angular">
	<meta name="JayHo" content="Hege Refsnes">
	<link rel="stylesheet" type="text/css" href="stylesheet/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="stylesheet/style-ticket.css" />
	<link rel="stylesheet" type="text/css" href="stylesheet/animate.css">
	<link rel="stylesheet" type="text/css" href="stylesheet/hover.css">
	<script type="text/javascript" src="angularjs/angular.min.js"></script>
	<script type="text/javascript" src="angularjs/modules/angular-translate.js"></script>
	<script type="text/javascript" src="angularjs/angular-cookies.js"></script>
	<script type="text/javascript" src="angularjs/angular-translate-storage-cookie.js"></script>
	<script type="text/javascript" src="angularjs/modules/app.js"></script>
	<script type="text/javascript" src="angularjs/modules/services/translate.js"></script>
	<script type="text/javascript" src="angularjs/modules/controllers/controller.js"></script>
</head>
<body ng-controller="userCtrl">
	<header>
		<nav class="ticket-navbar">
			<ul>
				<a href="/logout"><li>{{'TICKET_LOGOUT' | translate}}</li></a>
				<a href="/home"><li>{{'TICKET_HOME' | translate}}</li></a>
			</ul>
		</nav>
	</header>
	<section>
		<div id="ticket-body">
			<div class="container">
				<div class="ticket-row row">
					<aside class="ticket-aside col-md-2">
						<ul>
							<a href="/forum"><li>Forum</li></a>
							<a href=""><li>Edit</li></a>
							<a href=""><li>Blabla</li></a>
							<a href=""><li>Caca</li></a>
						</ul>
					</aside>
					<div class="ticket-main col-md-8 col-md-offset-1">
						<div>
						<% if (user.user_permissions.admin == true) { %>
							<form>
							<button type="submit" ng-click="assAdmin()" style="float: right; margin-top: 3px;">Get</button>
							<select class="select-items" name="category" ng-model="data.admin" style="float: right;">
								<option value="">Assign To</option>
								<% if (admin) { admin.forEach(function(admin){ %>
									<option value="<%= admin.user_info.username%>"><%= admin.user_info.username%></option>
								<%});}%>
							</select>
							</form>
						<% } %>
							<h3><%= ticketData.subject %></h3>
						</div>
						<span style="float: right;">Assign to:&nbsp;<%=ticketData.assignTo%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= ticketData.date_create%></span>
						<div class="message-primary">
							<p><%= ticketData.content%></p>
						</div>
						<hr />
					<% if (answerData) { tickets.forEach(function(tickets){%>
						<div class="reply-profile">
							<h4><%= tickets.rep_user%></h4>
							<span><%= tickets.rep_date %></span>
						</div>
						<div class="message-content">
							<p><%= tickets.rep_message%></p>
						</div>
						<hr />
					<% }); }%>
						<div>
							{{answerTicket.content}}
						</div>
					<% if (ticketData.status == 'Being solved') { %>
						<div class="message-answer">
							<form method="POST">
								<input type="text" placeholder="Type your answer..." ng-model="answerTicket.content">
								<button type="submit" ng-click="addAnswer()">Send</button>
							</form>
						</div>
					<% } %>
					</div>
				</div>
			</div>				
		</div>
	</section>
</body>
</html>